body {
  background-color: #e7b99f;
  color: #1f0a03;
  margin: 0;
  padding: 0;
}

.input {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#outputArea {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #322b2a;
  border-radius: 10px;
  color: #ffffff;
}